* {
    color: #cdcdcd;
    font-size: 18px;
    font-family: "Comic Sans MS";
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #373737;
    overflow-y: hidden;
}

header {
    height: 70px;
    opacity: 0.5;
    margin: 15px;
    -webkit-box-shadow: 0 0 160px -15px rgba(65,171,239,1);
    -moz-box-shadow: 0 0 160px -15px rgba(65,171,239,1);
    box-shadow: 0 0 160px -15px rgba(65,171,239,1);
}

main {
    display: inline-flex;
    flex-wrap: nowrap;
    width: 100%;
    padding: 0 15px 15px 15px;
}

#left_section {
    flex: 1;
    padding: 20px;
    margin-right: 15px;
    width: 20%;
    height: 100%;
    text-align: center;
    -webkit-box-shadow: inset 0 0 80px -15px rgba(65,171,239,1);
    -moz-box-shadow: inset 0 0 80px -15px rgba(65,171,239,1);
    box-shadow: inset 0 0 80px -15px rgba(65,171,239,1);
}

#right_section {
    flex: 1;
    padding: 20px;
    width: 20%;
    height: 100%;
    text-align: center;
    -webkit-box-shadow: inset 0 0 80px -15px rgba(65,171,239,1);
    -moz-box-shadow: inset 0 0 80px -15px rgba(65,171,239,1);
    box-shadow: inset 0 0 80px -15px rgba(65,171,239,1);
}

#center_section {
    flex: 4;
    width: 60%;
    height: 100%;
    margin-right: 15px;
    -webkit-box-shadow: inset 0 0 80px -15px rgba(65,171,239,1);
    -moz-box-shadow: inset 0 0 80px -15px rgba(65,171,239,1);
    box-shadow: inset 0 0 80px -15px rgba(65,171,239,1);

}

#searchElement {
    width: 96%;
    padding: 5px 35px 5px 10px;
    background: url("../images/search.png") no-repeat 98% #FFF;
    background-size: 28px;
}

#catElement {
    width: 96%;
    padding: 5px 35px 5px 10px;
    margin-top: 25px;
    color: #373737;
}

#divSvg {
    display: inline-block;
    margin-top: 25px;
    width: 96%;
    background-color: #FFFFFF;
    overflow-y: scroll;
}

#svgContent > svg {
    display: block;
    width: 100%;
    height: 100%;
}

#plan{
    margin: 1.5% auto;
    width: 96%;
    height: 96%;
    background-color: white;
}

#plan>svg{
    width: 100%;
    height: 100%;
}

#manageProject{
    height: 40px;
    background-color: WHITE;
    margin-bottom: 20px;
}

#projectTree{
    height: 49%;
    overflow-y: auto;
    background: white;
}

#elem_prop{
    overflow-y: auto;
    background: white;
}

/* section dedicated to input range sliders!*/
input[type=range] {
    /*removes default webkit styles*/
    -webkit-appearance: none;

    /*fix for FF unable to apply focus style bug */
    border: 1px solid white;

    /*required for proper track sizing in FF*/
    width: 95%;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
    margin-top: -4px;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

input[type=range]::-moz-range-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
}

input[type=range]::-ms-track {
    width: 300px;
    height: 5px;

    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;

    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 6px 0;

    /*remove default tick marks*/
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #777;
    border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
    background: #ddd;
    border-radius: 10px;
}
input[type=range]::-ms-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
}
input[type=range]:focus::-ms-fill-lower {
    background: #888;
}
input[type=range]:focus::-ms-fill-upper {
    background: #ccc;
}